In [54]:
import pandas as pd
import numpy as np

In [55]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

1. Array Creation and Manipulation: <br>
○ Load the Age and Fare columns into two separate NumPy arrays, ages and fares. <br>
○ The ages array has missing values (NaN). Create a new array cleaned_ages where all NaN 
values are replaced with the median age of the passengers. <br>
○ Create a new array fares_in_euros by converting the fares (which are in British Pounds) to 
Euros. Assume an exchange rate of 1 Pound = 1.18 Euros. <br>

In [56]:
ages = df['Age'].to_numpy()
fares = df['Fare'].to_numpy()


median_age = np.nanmedian(ages)   # median ignoring NaN
cleaned_ages = np.where(np.isnan(ages), median_age, ages)

fares_in_euros = fares * 1.18

print(fares_in_euros[:20]," \n")

print(cleaned_ages[:25])

[ 8.555    84.114294  9.3515   62.658     9.499     9.980794 61.19775
 24.8685   13.137294 35.483544 19.706    31.329     9.499    36.9045
  9.267956 18.88     34.3675   15.34     21.24      8.5255  ]

[22. 38. 26. 35. 35. 28. 54.  2. 27. 14.  4. 58. 20. 39. 14. 55.  2. 28.
 31. 28. 35. 34. 15. 28.  8.]

2. Statistical Analysis: <br>
○ Using NumPy, calculate and print the following statistics for the cleaned_ages array: 
<br>■ Average age<br> 
■ Standard deviation<br> 
■ The age of the oldest passenger <br>
■ The age of the youngest passenger

In [57]:
average_age = np.mean(cleaned_ages)
std_dev_age = np.std(cleaned_ages)
oldest_age = np.max(cleaned_ages)
youngest_age = np.min(cleaned_ages)

print("Average Age:", average_age)
print("Standard Deviation of Age:", std_dev_age)
print("Oldest Passenger Age:", oldest_age)
print("Youngest Passenger Age:", youngest_age)

Average Age: 29.36158249158249
Standard Deviation of Age: 13.012388272793666
Oldest Passenger Age: 80.0
Youngest Passenger Age: 0.42

3. Boolean Indexing and Filtering: <br>
○ Create a boolean array that is True for passengers who paid a Fare greater than 50 and False 
otherwise. <br>
○ Use this boolean array to count how many passengers paid more than 50 for their ticket. <br>
○ Display the ages of these high-paying passengers.<br>

In [58]:
high_fare_mask = fares > 50

high_fare_count = np.sum(high_fare_mask)
print("Number of passengers who paid > 50:", high_fare_count)

high_payers_ages = cleaned_ages[high_fare_mask]
print("Ages of high-paying passengers:", high_payers_ages)

Number of passengers who paid > 50: 160
Ages of high-paying passengers: [38.   35.   54.   19.   28.   28.   42.   49.   65.   38.   45.   21.
 32.   23.   46.   23.   21.   47.   24.   21.   54.   37.   24.   22.
 51.   28.   28.   28.   28.   58.   28.   31.   32.   38.   35.   44.
 37.   28.   30.   35.   52.   58.   35.   63.   26.   19.    2.   50.
  0.92 28.   17.   30.   24.   18.   31.   40.   28.   36.   16.   38.
 28.   29.   41.   24.   22.   60.   24.   25.   22.   28.   27.   42.
 35.   18.   36.   23.   33.   50.   14.   64.    4.   49.   28.   28.
 25.   35.   54.   25.   16.   18.   26.   54.   30.   44.   28.   30.
 36.   50.   17.   28.   39.   53.   39.   39.   18.   60.   52.   49.
 40.   24.   42.   21.   24.   28.   48.   24.   58.   50.   32.   28.
 31.   36.   27.   15.   31.   28.   49.   18.   22.   48.   38.   27.
 29.   35.   36.   21.   70.   19.   48.   33.   36.   51.   43.   17.
 46.   28.   11.   33.   52.   28.   62.   39.   32.   28.   28.   45.
 28.   31.   47.   56.  ]

Part 2: Pandas Exercises  <br>
Use the Pandas library to perform a more in-depth analysis of the Titanic 
DataFrame. <br>
1. Data Loading and Initial Exploration:<br> 
○ Load the titanic.csv file into a Pandas DataFrame called df.<br> 
○ Display the last 5 rows of the DataFrame. <br>
○ Get a summary of the DataFrame's technical information (column names, data types, non-null 
counts).

In [59]:
print("Last 5 rows of the DataFrame:")
print(df.tail())


print("\nDataFrame Info:")
print(df.info())

Last 5 rows of the DataFrame:
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

2. Data Cleaning and Preprocessing: <br>
○ The Cabin column has many missing values. Drop this column entirely from the DataFrame.<br> 
○ Fill the missing values in the Age column using the mean age. <br>
○ The Embarked column has a few missing values. Fill them with the mode (the most common 
port of embarkation). <br>
○ Confirm that your DataFrame now has no missing values in any of the remaining columns.<br>

In [60]:
df.drop(columns=['Cabin'], inplace=True)

df['Age'].fillna(df['Age'].mean(), inplace=True)

df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

print("\nMissing values after cleaning:")
print(df.isnull().sum())

Missing values after cleaning:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

C:\Users\adadh\AppData\Local\Temp\ipykernel_12760\3295159574.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
C:\Users\adadh\AppData\Local\Temp\ipykernel_12760\3295159574.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

3. Feature Engineering:<br> 
○ Create a new column called FamilySize which is the sum of the SibSp and Parch columns, plus 
1 (to count the passenger themselves).<br> 
○ Create a categorical column called AgeGroup. Bin the Age column into the following groups:<br> 
■ Child: 0-12 <br>
■ Teen: 13-19 <br>
■ Adult: 20-59 <br>
■ Senior: 60+<br>

In [61]:

df['FamilySize'] = df['SibSp'] + df['Parch'] + 1


bins = [0, 12, 19, 59, np.inf]
labels = ['Child', 'Teen', 'Adult', 'Senior']
df['AgeGroup'] = pd.cut(df['Age'], bins=bins, labels=labels)

print("\nNew columns added (FamilySize, AgeGroup).")

New columns added (FamilySize, AgeGroup).

4. Data Selection and Querying: <br>
○ Display the Name, Sex, and AgeGroup of all passengers who survived. <br>
○ Find all female passengers who were in 1st Class (Pclass == 1). <br>
○ Select all passengers who embarked from Southampton ('S') and paid a fare less than 10.<br>

In [62]:

print("\nSurvivors (Name, Sex, AgeGroup):")
print(df.loc[df['Survived'] == 1, ['Name', 'Sex', 'AgeGroup']].head())


print("\nFemale passengers in 1st Class:")
print(df[(df['Sex'] == 'female') & (df['Pclass'] == 1)].head())


print("\nPassengers from Southampton with Fare < 10:")
print(df[(df['Embarked'] == 'S') & (df['Fare'] < 10)].head())

Survivors (Name, Sex, AgeGroup):
                                                Name     Sex AgeGroup
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female    Adult
2                             Heikkinen, Miss. Laina  female    Adult
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female    Adult
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female    Adult
9                Nasser, Mrs. Nicholas (Adele Achem)  female     Teen

Female passengers in 1st Class:
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
11           12         1       1
31           32         1       1
52           53         1       1

                                                 Name     Sex        Age  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.000000
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000
11                           Bonnell, Miss. Elizabeth  female  58.000000
31     Spencer, Mrs. William Augustus (Marie Eugenie)  female  29.699118
52           Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.000000

    SibSp  Parch    Ticket      Fare Embarked  FamilySize AgeGroup
1       1      0  PC 17599   71.2833        C           2    Adult
3       1      0    113803   53.1000        S           2    Adult
11      0      0    113783   26.5500        S           1    Adult
31      1      0  PC 17569  146.5208        C           2    Adult
52      1      0  PC 17572   76.7292        C           2    Adult

Passengers from Southampton with Fare < 10:
    PassengerId  Survived  Pclass                                  Name  \
0             1         0       3               Braund, Mr. Owen Harris
2             3         1       3                Heikkinen, Miss. Laina
4             5         0       3              Allen, Mr. William Henry
12           13         0       3        Saundercock, Mr. William Henry
14           15         0       3  Vestrom, Miss. Hulda Amanda Adolfina

       Sex   Age  SibSp  Parch            Ticket    Fare Embarked  FamilySize  \
0     male  22.0      1      0         A/5 21171  7.2500        S           2
2   female  26.0      0      0  STON/O2. 3101282  7.9250        S           1
4     male  35.0      0      0            373450  8.0500        S           1
12    male  20.0      0      0         A/5. 2151  8.0500        S           1
14  female  14.0      0      0            350406  7.8542        S           1

   AgeGroup
0     Adult
2     Adult
4     Adult
12    Adult
14     Teen

5. Grouping and Aggregation (Groupby): <br>
○ What was the average age of passengers who survived versus those who did not? (Hint: Group 
by the Survived column). <br>
○ Group the DataFrame by Pclass and Sex. For each group, calculate the survival rate (the mean 
of the Survived column). This will show you the survival probability for men and women in 
each class.

In [63]:

avg_age_survival = df.groupby('Survived')['Age'].mean()
print("\nAverage Age (Survived vs Not Survived):")
print(avg_age_survival)


survival_rate = df.groupby(['Pclass', 'Sex'])['Survived'].mean()
print("\nSurvival rate by Class and Sex:")
print(survival_rate)

Average Age (Survived vs Not Survived):
Survived
0    30.415100
1    28.549778
Name: Age, dtype: float64

Survival rate by Class and Sex:
Pclass  Sex
1       female    0.968085
        male      0.368852
2       female    0.921053
        male      0.157407
3       female    0.500000
        male      0.135447
Name: Survived, dtype: float64

6. Exporting the Final DataFrame: <br>
○ Save your final, cleaned DataFrame with the new FamilySize and AgeGroup columns to a new 
CSV file named titanic_processed.csv. Do not include the pandas index in the file.

In [64]:
df.to_csv("titanic_processed.csv", index=False)
print("\nFinal cleaned DataFrame saved as titanic_processed.csv")

Final cleaned DataFrame saved as titanic_processed.csv